body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4ea2da;
    color: #010e16;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #1E90FF;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactForm label {
    margin-bottom: 10px;
}

#contactForm textarea {
    padding: 10px;
    margin-bottom: 20px;
}

#contactForm button[type="submit"] {
    background-color: #365f96;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button[type="submit"]:hover {
    background-color: #444;
}